@import url("https://marksheet.io/css/reset.css");
/*Responsive разметка*/
/*Контейнер для содиржимого страницы*/
.container {
    width: 100%;
    max-width: 1024px;/*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
}
/*Главное меню в шапке*/
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /*обзначаем, что это flex-контейнер*/
}
/*Предустановки для разметки flex-элементов:row - горизонтально, column - вертикально*/
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
